<div class="card mb-4 box-shadow" style="max-width: 250px;">
  <img class="card-img-top" style="max-width: 250px; max-height: 250px;"
  [src]="baseUrl + (product.image || 'images/no-image.png')" alt="Product Image">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">Price: {{ product.price| currency}}</p>
    <p class="card-text">Quantity: {{ product.quantity }}</p>
    <p class="card-text">Code: {{ product.code }}</p>
  </div>
  <div class="card-footer">
    <div class="row">
       <a class="btn btn-warning col-xl-4 mt-2"  routerLink="/products/edit/{{product.id}}">Update</a>
      
      <div class="col-xl-4"></div>  
      <button class="btn btn-danger col-xl-4 mt-2"  (click)="deleteProduct(product.id)">
        <span *ngIf="!isLoading">Delete</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
      
    </div>
  </div>
</div>