<div class="container">
  <header class="text-center mb-2">
    <img src="../assets/images/logo.png" alt="logo">
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
 <a class="navbar-brand" routerLink="/"> {{title|uppercase}}</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
</button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
    <li *ngIf="isAuth" class="nav-item">
       <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home </a>
     </li>
      <!--
       [routerLinkActiveOptions]="{ exact: true }" garantit que la classe active ne s'applique que si l'URL correspond exactement à "/", 
       et pas si c'est un sous-chemin comme "/products" ou "/signin".
     -->
     <li *ngIf="isAuth"  class="nav-item">
       <a class="nav-link" routerLink="/products" routerLinkActive="active">Product Management</a>
     </li>
     <li *ngIf="!isAuth" class="nav-item">
       <a class="nav-link" routerLink="/signin" routerLinkActive="active">SingIn</a>
     </li>
     <li *ngIf="isAuth" class="nav-item">
      <a class="nav-link" routerLink="/signin" routerLinkActive="active">SingOut</a>
    </li>
   </ul>

 </div>
</nav>
<router-outlet></router-outlet>
 <!--  <h1 class="text-center">Welcome to {{title}}</h1>
  <app-products></app-products> -->
</div>
